html, body {
  font: 200 27px/45px 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-family: 'Cantora One', sans-serif;
  background-color: #fcfcfc;
  color: #444;
}

#primary {
  width: 500px;
  margin: 0 auto;
}


#profile-pic {
  width: 204px;
  height: 204px;
  margin: 100px auto;
  -moz-border-radius:    50%;
  -webkit-border-radius: 50%;
  border-radius:         50%;
  background: #eeeeee url('raj.jpg') no-repeat;
  -moz-box-shadow:    inset 0 0 10px #666;
  -webkit-box-shadow: inset 0 0 10px #666;
  box-shadow:         inset 0 0 10px #666;
  
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;  
}

#profile-pic:hover {
  opacity: 0.5;
}

#full-name {

  display: inline-block;
  max-width: 325px;
  overflow: hidden;
  white-space: nowrap;
  height: 45px;
  text-overflow: hidden;

  -webkit-transition: max-width 0.6s ease-in-out;
  -moz-transition: max-width 0.6s ease-in-out;
  transition: max-width 0.6s ease-in-out;
}

#full-name:hover {
  max-width: 500px;
  cursor: pointer; 
}

#full-name .highlight {
  background-color: #f6f6f6;
  font-weight: bold;
}

a, a:visited { 
  color: #d23;
  text-decoration: none;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;

  border-bottom: 1px dotted #fcc;
}

a:hover {
  color: #f78;
}


#profile-pic {
    margin: 20 auto;
}

p {
    padding: 0 15px;
    min-width: 250px;
}

.description {
  font-family: 'Inder', sans-serif;
  font-size: 20px;
  

}